.bio-container {
  flex:1;
  height: 100%;
  justify-self: flex-end;
  position: sticky;
  
  h1 {
    color: greenyellow;
  }
  
  
  img {
    width: 200px;
    justify-self: flex-end;
  }
  p {
    color: greenyellow;
  }
}