.contact-container {
  background-color: black;
  height:100vh;
  flex:4;
  
  
  
  

  span {
    display: table;
    margin: 0 auto;
    font-size: 36pt;
    color: #D23EFF;
  }

  .contact-form {
    margin-left:50px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    
    
    .user-message {  
      flex:1;
      text-align: right;
      margin-right: 25px;
      textarea {
        background-color: white;
        width: 75%;
        height: 100%;
        padding: 20px;
      }
    }

    .user-info {
      flex:1;
      text-align: center;
      padding-left:50px;
      form {
        label {
          color: #D23EFF;
        }
      }
    }
  }

  button {
    cursor: pointer;
    margin-top: 25px;
    align-self: center;
    background-color: #D23EFF;
    width:100px;
    border-radius: 10px;
  
  }
}