.header-container {
  background-image: linear-gradient(#791E94, #D23EFF);
  height: 75px;
  margin: 50px 50px 50px 50px;
  flex: 1;
  
  .header-title-box {
    flex:3;
    
    flex-direction: column;
    
    h1 {
      display: flex;
      font-size:36px;
      margin-top:40px;
      color: greenyellow;
      justify-self: center;
      align-items: center;
      justify-content: center;
    }

    p {
      text-align: center;
      color: greenyellow;
    }
  }
}