.header-container {
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(#0B11C6, #000000);
  height: 75px;
  width: 80vw;
  min-width: 300px;
  flex: 1;
  border-bottom: solid;
  border-color: grey;
  border-width: 1px;
  
  
  .header-title-box {
    flex:3;
    
    flex-direction: column;
    
    h1 {
      display: flex;
      font-size:36px;
      margin-top:40px;
      color: greenyellow;
      justify-self: center;
      align-items: center;
      justify-content: center;
    }

    p {
      text-align: center;
      color: greenyellow;
    }
  }
}