.App {
  text-align: center;
  
  
  
  .profileContentWrapper {
    display: inline-flex;
    align-content: center;
    position: relative;
    margin: 0 auto;
    width:80vw;
    height: 100vh;
    background-color: black;
  }
}

